.Header
  .HeaderLogo
    = icon('fas', 'paw', class: "Header__icon")
    Doggies Wan!
  .HeaderMenu
    = link_to "https://www.google.com/?hl=ja", class: "Menu__btn" do
      = icon('fas', 'dog', class: "Menu__btn--icon")
      Dogs Info 
    = link_to "#", class: "Menu__btn" do
      = icon('fas', 'suitcase-rolling', class: "Menu__btn--icon")
      Trip Info 
    = link_to "#", class: "Menu__btn" do
      = icon('fas', 'at', class: "Menu__btn--icon")
      Contact 
.SubHeader